astor==0.8.1
build==0.7.0
certifi==2021.10.8
charset-normalizer==2.0.7
decorator==4.4.2
gast==0.4.0
idna==3.3
numpy==1.21.3
packaging==21.0
paddlepaddle-gpu==2.0.2.post101
pep517==0.12.0
Pillow==8.4.0
protobuf==3.19.0
pyparsing==3.0.1
requests==2.26.0
six==1.16.0
tomli==1.2.2
urllib3==1.26.7
